html {
  font-size: 16px;
  @include mq($from: sm) {
    font-size: 20px;
  }
}

body {
  font-family: $font-base;
  font-size: $font-size-m;
  font-weight: 400;
  line-height: $base-line-height;
}

a {
  @include link-style($color-primary, $color-accent);
  text-decoration: none;
  transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
ul,
ol,
pre {
  margin-top: 0;
  margin-bottom: 1.3em;
}

li {
  margin-bottom: .65em;
}


h1,
h2,
h3,
h4 {
  margin: 1.414em 0 .5em;
  font-family: $font-title;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: $font-size-xxxl;
}

h2 {
  font-size: $font-size-xxl;
}

h3 {
  font-size: $font-size-xl;
}

h4 {
  font-size: $font-size-l;
}

small,
.font-small {
  font-size: $font-size-s;
}

b,
strong {
  color: $color-dark;
  font-weight: 700;
}

code {
  font-family: $font-mono;
  font-size: $font-size-s;
}

blockquote {
  margin: 1.3em 0;
  padding-left: .65rem;
  border-left: 3px solid $color-gray;

  p {
    margin: 0;
    font-size: $font-size-s;
    font-weight: 300;
  }
}


p,
li {
  & > code {
    padding: .2em .25em;
    border-radius: 3px;
    background-color: $color-light;
    font-size: .9em;
  }
}
