.contacts
  display flex
  flex-wrap wrap
  justify-content center
  padding 0
  list-style none
  &__item
    display inline-flex
    size 4.8rem
    margin 0
  &__icon
    margin auto
    size 3.2rem
    border 1px solid
    border-radius 100%
    font-size $font-size-xl
    line-height 3.2rem
    text-align center
    transition all 0.2s
    &:hover
      transform scale(1.1)
