.contacts
  display flex
  flex-wrap wrap
  justify-content flex-start
  padding 0
  list-style none
  &__item
    // display inline-flex
    // size 4rem
    margin 0
    & ~ &
      margin-left 1rem
  &__icon
    // margin auto
    size 3.2rem
    border none
    border-radius 100%
    background-color palette('shade')
    color palette('shade', 'xxxl')
    font-size $font-size-xl
    line-height 3.2rem
    text-align center
    &:hover
      background-color palette('shade', 'd')
      color palette('shade', 'xxxl')
