/// === Palette colors ===
$color-primary: #30a9de;
$color-accent:  #e53a40;

$color-success: #56a902;
$color-info:    $color-primary;
$color-warning: #efdc05;
$color-danger:  $color-accent;

$color-light:   #f8f8f8;
$color-gray:    #a3a1a1;
$color-dark:    #343838;

$duration: 0.3s;

$spacing: 3em;
$spacing-double: $spacing * 2;
$spacing-third: $spacing * 3;
$spacing-half: $spacing / 2;

$gutter: 15px;

/// === Typography ===
$font-base: "Merriweather Sans", Ubuntu, Helvetica, Arial, sans-serif;
$font-title: "Merriweather", "PT Serif", Georgia, FreeSerif, sans-serif;
$font-mono: monospace; //'Ubuntu Mono';
$font-logo: $font-title;

$font-size-factor: 1.25;
$font-size-m: 1em;
$base-line-height: 1.45;

$font-size-s: $font-size-m / $font-size-factor;
$font-size-xs: $font-size-s / $font-size-factor;
// $font-size-xxs: $font-size-xs / $font-size-factor;

$font-size-l: $font-size-m * $font-size-factor;
$font-size-xl: $font-size-l * $font-size-factor;
$font-size-xxl: $font-size-xl * $font-size-factor;
$font-size-xxxl: $font-size-xxl * $font-size-factor;

/// breakpoints
$mq-breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 980px,
  lg: 1200px,
  xl: 1650px,
);
