table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  // border: 1px solid $color-gray;
}

tr {
  border-bottom: solid 1px $color-gray;
}

th,
td {
  padding: $gutter ($gutter / 2);
}

th {
  text-align: left;
}
