//  Загальні стилі для псевдо елементів
pseudo-element($width, $height, $content = '')
  display: block;
  position: absolute;
  content: $content;
  height: $height;
  width: $width;


center($value = 'both')
  if $value == 'x'
    position absolute
    left 50%
    transform translateX(-50%)
  if $value == 'y'
    position absolute
    top 50%
    transform translateY(-50%)
  if $value == 'both'
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

container()
  max-width 36rem
  margin 0 auto
  padding 0 1rem


// @mixin font-face($font-name, $file-name, $path, $weight: normal, $style: normal) {
//   @font-face {
//     font-family: quote($font-name);
//     src:  url(quote($path + $file-name + '.eot'));
//     src:  url(quote($path + $file-name + '.eot?#iefix')) format('embedded-opentype'),
//     url(quote($path + $file-name + '.woff')) format('woff'),
//     url(quote($path + $file-name + '.ttf')) format('truetype'),
//     url(quote($path + $file-name + '.svg##{$font-name}')) format('svg');
//     font-weight: $weight;
//     font-style: $style;
//   }
// }
