doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Web developer Sergii Velykodnyi
    link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,cyrillic", rel='stylesheet', type='text/css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="css/main.css", rel='stylesheet')
  body
    .page
      .wrap
        header.header
          h1.header__title Hello, I'm Sergii Velykodnyi.
          p.header__description I'm web developer. I create websites for small business. I live in Kryvyi Rih, Ukraine.
        main.content
          p My contacts:
          ul.contacts
            li.contacts__item
              a(class="contacts__icon fa fa-github-alt", href="https://github.com/svelykodnyi/sergii", target="_blank")
            li.contacts__item
              a(class="contacts__icon fa fa-twitter", href="https://twitter.com/svelykodnyi", target="_blank")
            li.contacts__item
              a(class="contacts__icon fa fa-instagram"  href="https://www.instagram.com/svelykodnyi" target="_blank")
            li.contacts__item
              a(class="contacts__icon fa fa-facebook" href="https://www.facebook.com/svelykodnyi" target="_blank") 
            li.contacts__item
              a(class="contacts__icon fa fa-google-plus" href="https://plus.google.com/+SergiiVelykodnyiVigeo" target="_blank")
            li.contacts__item
              a(class="contacts__icon fa fa-vk" href="http://vk.com/svelykodnyi" target="_blank")
            li.contacts__item
              a(class="contacts__icon fa fa-at"  href="mailto:vigeo@ukr.net")
        footer.footer
          span.copyright &copy Sergii Velykodnyi
