doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Web developer Sergii Velykodnyi
    link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,cyrillic", rel='stylesheet', type='text/css')
    //- link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")
    //- link(href="styles/normalize.css", rel='stylesheet')
    link(href="styles/main.css", rel='stylesheet')
  body
    .layout-container
      main.layout-content
        header.layout-header
          h1.site-title Hello,<br> I'm Sergii Velykodnyi.
        p.site-description I'm web developer. I create websites for small business. I live in Kryvyi Rih, Ukraine.
        p 
          | I have accounts on 
          a(href="https://github.com/svelykodnyi/sergii", target="_blank") GitHub
          |, 
          a(href="https://twitter.com/svelykodnyi", target="_blank") Twitter
          |, 
          a(href="https://www.instagram.com/svelykodnyi", target="_blank") Instagram
          |, 
          a(href="https://www.facebook.com/svelykodnyi", target="_blank") Facebook
          |, 
          a(href="https://plus.google.com/+SergiiVelykodnyiVigeo", target="_blank") Google Plus
          |, 
          a(href="http://vk.com/svelykodnyi", target="_blank") VK
          |.
        //- h2 My contacts:
        //- ul.contacts
        //-   li.contacts__item
        //-     a(class="contacts__icon fa fa-github-alt", href="https://github.com/svelykodnyi/sergii", target="_blank")
        //-   li.contacts__item
        //-     a(class="contacts__icon fa fa-twitter", href="https://twitter.com/svelykodnyi", target="_blank")
        //-   li.contacts__item
        //-     a(class="contacts__icon fa fa-instagram"  href="https://www.instagram.com/svelykodnyi" target="_blank")
        //-   li.contacts__item
        //-     a(class="contacts__icon fa fa-facebook" href="https://www.facebook.com/svelykodnyi" target="_blank") 
        //-   li.contacts__item
        //-     a(class="contacts__icon fa fa-google-plus" href="https://plus.google.com/+SergiiVelykodnyiVigeo" target="_blank")
        //-   li.contacts__item
        //-     a(class="contacts__icon fa fa-vk" href="http://vk.com/svelykodnyi" target="_blank")
        //-   li.contacts__item
        //-     a(class="contacts__icon fa fa-envelope"  href="mailto:vigeo@ukr.net")
        footer.layout-footer
          small &copy 2013 - 2016 Sergii Velykodnyi
          br
          small 
            | Email: 
            a(href="mailto:sergii.velykodnyi@gmail.com") sergii.velykodnyi@gmail.com
