doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Web developer Sergii Velykodnyi
    link(href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:700" rel="stylesheet")
    link(href="styles/main.css", rel='stylesheet')
  body
    header.layout-header
      .layout-container
        h1.site-title Hello,<br> I am Sergii Velykodnyi.
    
    main.layout-content
      .layout-container
        include:markdown markdown/about.md
        include:markdown markdown/contacts.md
        include:markdown markdown/skills.md
        include:markdown markdown/work-experience.md
        include:markdown markdown/my-own-projects.md
        
    footer.layout-footer
      .layout-container
        | Created by Sergii Velykodnyi | Code on 
        a(href='https://github.com/svelykodnyi/sergii') GitHub
      
